<p><%= session[:message] if session[:message] %></p>

<ul>
    <h1><%= @user.name %></h1>
    <h2>Email: <%= @user.email %></h2>
    <h2>Facebook UID: <%= @user.uid %></h2>
    <img src="<%= @user.image %>">
</ul>

<p><%= link_to("See Recipes", posts_path) %>
<p><%= link_to("Log Out", logout_path, method: 'delete') %></p>