<h1><%= @user.name %></h1>
<h2>Email: <%= @user.email %></h2>
<h2>Facebook UID: <%= @user.uid %></h2>
<img src="<%= @user.image %>">

<p>NOTHING TO SHOW YET... PLEASE COME BACK LATER</p>
<p><%= link_to("Log Out", logout_path, method: 'delete') %></p>